.gui-img {
  width: 100%;
  height: auto;
}

.gui-audio {
  width: 100%;
}

.gui-video {
  width: 100%;
  height: auto;
}

.gooey-output-text {
  overflow-y: scroll;
}

.gooey-output-text p {
  white-space: pre-wrap;
}

input[type="text"],
textarea {
  resize: vertical;
  width: 100%;
  overflow: auto;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}

pre {
  max-width: 100%;
  max-height: 20rem;
  overflow: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.htmlContainer {
  display: contents;
}

.gooeyOuter {
}
.gooeyInputOrTextArea,
.gooeySelect {
  margin-top: 10px;
  margin-bottom: 30px;
}

.gooeyInputOrTextArea h3,
.gooeyInputOrTextArea h5,
.gooeySelect h4,
.gooeySelect h5 {
  font-size: 16px;
  color: #000000;
  word-wrap: break-word;
  font-family: "Space Grotesk", sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  line-height: 20px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  letter-spacing: 1px;
  /*
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;

   */
}

.gooeyInputOrTextArea p {
  color: rgba(0, 0, 0, 0.45);
}

.btn {
  margin: 2px;
}

.btn p,
.gooeyDetailsHeader p {
  margin-bottom: 0px;
}

.gooeyDetails {
  border-radius: 0.375rem;
  border-color: #dee2e6;
  border-width: 1px;
  /* background-color: aqua; */
  border-style: solid;
  margin-bottom: 10px;
}
.gooeyDetailsHeader {
  padding: 16px 20px;
}

.gooeyDetailsBody {
  padding: 16px 20px;
}

.gooeyInputOrTextArea input[type="text"] {
  padding: 0.8rem;
}

.mdContainer {
  max-width: 100%;
  word-break: break-word;
}

.gooey-output-text {
  border: 1px solid black;
  overflow-y: scroll;
  padding: 5px 10px;
}

::-webkit-scrollbar {
  background: transparent;
  color: white;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 0;
}
