body {
  padding: 0 5%;
}

.gooey-output-text {
  overflow-y: scroll;
}

.gooey-output-text p {
  white-space: pre-wrap;
}

input[type="text"],
textarea {
  resize: vertical;
  overflow-y: scroll;
  width: 90%;
  overflow: scroll;
}

input {
  padding: 0.5rem;
}
